* {
  font-weight: 400;
}

@font-face {
  font-family: "Myriad Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Regular"), url("../Assets/font/MYRIADPRO-REGULAR.woff") format("woff");
}

@font-face {
  font-family: "Myriad";
  src: url("../Assets/font/Myriad-Pro.otf");
  font-style: normal;
  font-weight: 900;
}

body {
  font-family: sans-serif;
}

.main-header {
  width: 80%;
  margin: 0 auto;
  margin-top: 8rem;
}

.main-header .About-wrapper {
  position: relative;
}

.main-header .About-wrapper p {
  width: 60%;
  margin: 2rem 0rem;
  font-size: 1.12rem;
  font-weight: 400;
}

.main-header .About-wrapper p span {
  font-weight: 600;
}

.main-header .About-wrapper h1 {
  font-family: "Myriad";
  font-size: 4rem;
}

.main-header .About-wrapper::after {
  content: "";
  position: absolute;
  background: url("../Assets/About.png") no-repeat;
  height: 100%;
  width: 100%;
  top: -1%;
  height: 100vh;
  left: 45%;
  z-index: -2;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
}

footer {
  background: #fafafa;
  margin-top: 13.5rem;
}

footer h5 {
  font-weight: 400;
}

@media (max-width: 1285px) {
  body {
    overflow-x: hidden;
  }
  .main-header {
    width: 80%;
    margin: 0 auto;
    margin-top: 8rem;
  }
  .main-header .About-wrapper {
    position: relative;
  }
  .main-header .About-wrapper p {
    width: 60%;
    margin: 2rem 0rem;
    font-size: 1.12rem;
    font-weight: 400;
  }
  .main-header .About-wrapper p span {
    font-weight: 600;
  }
  .main-header .About-wrapper h1 {
    font-family: "Myriad";
    font-size: 4rem;
  }
  .main-header .About-wrapper::after {
    content: "";
    position: absolute;
    background: url("../Assets/About.png") no-repeat;
    height: 100%;
    width: 100%;
    top: 17%;
    height: 100vh;
    left: 40%;
    z-index: -2;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@media (max-width: 1080px) {
  body {
    overflow-x: hidden;
  }
  .main-header {
    width: 80%;
    margin: 0 auto;
    margin-top: 7rem;
  }
  .main-header {
    width: 80%;
    margin: 0 auto;
    margin-top: 8rem;
  }
  .main-header .About-wrapper {
    position: relative;
  }
  .main-header .About-wrapper p {
    width: 60%;
    margin: 2rem 0rem;
    font-size: 1.12rem;
    font-weight: 400;
  }
  .main-header .About-wrapper p span {
    font-weight: 600;
  }
  .main-header .About-wrapper h1 {
    font-family: "Myriad";
    font-size: 4rem;
  }
  .main-header .About-wrapper::after {
    content: "";
    position: absolute;
    background: url("../Assets/About.png") no-repeat;
    height: 100%;
    width: 100%;
    top: 17%;
    height: 125vh;
    left: 45%;
    z-index: -2;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@media (max-width: 480px) {
  .logo {
    text-align: start;
    margin-right: -2rem;
    margin-top: 2rem;
    position: absolute;
    top: 0;
    left: -8%;
  }
  .logo img {
    max-width: 70%;
  }
  .main-header {
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
    height: 40vh;
    margin-top: 10rem;
  }
  .main-header .About-wrapper {
    position: relative;
  }
  .main-header .About-wrapper p {
    width: 100%;
    margin: 2rem 0rem;
    font-size: 1rem;
  }
  .main-header .About-wrapper h1 {
    font-size: 3rem;
    line-height: 2.5rem;
  }
  .main-header .About-wrapper::after {
    content: "";
    position: absolute;
    background: none;
    height: 100vh;
    width: 100vw;
    top: 65%;
    left: 24%;
    z-index: -2;
    -webkit-transform: scale(40%);
            transform: scale(40%);
  }
  footer {
    z-index: -1;
    background: #fafafa;
    margin-top: 26.5rem;
  }
}

@media (max-width: 362px) {
  .main-header {
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
    margin-top: 5rem;
  }
  .main-header .About-wrapper {
    position: relative;
  }
  .main-header .About-wrapper p {
    width: 100%;
    margin: 2rem 0rem;
    font-size: 1rem;
  }
  .main-header .About-wrapper h1 {
    font-size: 3rem;
    line-height: 2.5rem;
  }
  .main-header .About-wrapper::after {
    content: "";
    position: absolute;
    background: url("../Assets/About.png") no-repeat;
    height: 100%;
    width: 100%;
    top: 65%;
    height: 120vh;
    left: 27%;
    z-index: -2;
    -webkit-transform: scale(55%);
            transform: scale(55%);
  }
}
/*# sourceMappingURL=about.css.map */